body{
	
	background-color: white;
	background-position: center;
	font-family: sans-serif;
}
.book{
	width: 420px;
	height: 660px;
	background: #472F91;
	opacity: .8;
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
        box-sizing:border-box;
	
	padding:50px 50px;
}
h1{
	
	
	text-align: center;
	font-size: 30px;
	}
.book input{
	width: 100%;
	margin-bottom: 20px;
}
.book input[type="text"],input[type="password"]{
	border: none;
	
	background: transparent;
	outline: none;
	height: 30px;
	color: #fff;
	font-size: 16px;
}
.book input[type="submit"]
{
	
	outline: none;
	height: 40px;
	background: #fb2525;
	color:#fff;
	font-size: 18px;
	border-radius: 20px;
}
.book input[type="submit"]:hover{
	cursor: pointer;
	background-color: #F57921;
	color: #000;
}
.book input[type="reset"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color:#fff;
	font-size: 18px;
	border-radius: 20px;
}
.book input[type="reset"]:hover{
	cursor: pointer;
	background-color: #F57921;
	color: #000;
}