#b1{
	background-color:black;
	color: white;
	opacity: 0.8;
	border-radius:170px;
	border:2px solid;
	width:250px;
	height:150px;
	font-size:15px;
	margin-left: 100px;
		text-align: center;
}
#b2{
	background-color:black;
	color: white;
	opacity: 0.8;
	border-radius:170px;
	border:2px solid;
	width:250px;
	height:150px;
	font-size:15px;
	margin-left:300px;
	text-align: center;
}
#b3{
	background-color:black;
	color: white;
	opacity: 0.8;
	border-radius:170px;
	border:2px solid;
	width:250px;
	height:150px;
	font-size:15px;
	margin-left:100px;
	text-align:center;
}
#b4{
	background-color:black;
	color: white;
	opacity: 0.8;
	border-radius:170px;
	border:2px solid;
	width:250px;
	height:150px;
	font-size:15px;
	margin-left:300px;
	text-align: center;
}
h1{
	text-align: center;
	font-family: sans-serif;
	font-size: 50px;
	color: #F57921;
}
