body{
	margin: 0;
	padding: 0;
	background-color: white;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}
.mobile{
	width: 320px;
	height: 420px;
	background: #472F91;
	opacity: 1.0;
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding:40px 20px;
}
h1{
	margin: 0;
	padding: 0 0 10px;
	text-align: center;
	font-size: 25px;
}
.mobile input{
	width: 100%;
	margin-bottom: 20px;
}
.mobile input[type="text"],input[type="password"]{
	border: none;
	border-bottom: 1px solid white;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.mobile input[type="button"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color:#fff;
	font-size: 18px;
	border-radius: 20px;
}
.mobile input[type="button"]:hover{
	cursor: pointer;
	background-color: #F57921;
	color: #000;
}