.header img{
	float:left;
	width:125px;
	height:100px;
}
.header h1{
	position:relative;
	top:18px;
	left:15px;
	color: #F57921;
	font-size: 50px;
}
h2{
	font-size: 45px;
	font-family: sans-serif;
	color: #472F91;
}
p{
	font-size: 25px;
	font-family: serif;
	color: #F57921;
}
ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul li{
	float: left;
	width: 240px;
	height: 50px;
	background-color:black;
	opacity: .8;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	margin-right: 2px;
}
ul li a{
	text-decoration: none;
	color: white;
	display: block;
}
ul li a:hover {
	background-color: #F57921;
}
ul li ul li{
	display: none;
}
ul li:hover ul li{
	display: block;
}
.gall img{
	height: 250px;
	width:297px;
	border: 5px;
	border-radius: 10px;
}
.gall img:hover {
	transform: scale(1.5);
}
