body{
	margin: 50;
	padding: 0;
	background-color: white;
	background-size: contain;
	background-position: center;
	font-family: sans-serif;
}
.signup{
	width: 420px;
	height: 870px;
	background: #472F91;
	opacity: .8;
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding:100px 50px;
}
h1{
	margin: 0;
	padding: 0 0 0px;
	text-align: center;
	font-size: 30px;
	}
.signup p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	width: 150px;
	margin-bottom: 20px;
}
.signup input{
	width: 100%;
	margin-bottom: 20px;
}
.signup input[type="text"],input[type="password"]{
	border: none;
	border-bottom: 1px solid white;
	background: transparent;
	outline: none;
	height: 30px;
	color: #fff;
	font-size: 16px;
}
.signup input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color:#fff;
	font-size: 18px;
	border-radius: 20px;
}
.signup input[type="submit"]:hover{
	cursor: pointer;
	background-color: #F57921;
	color: #000;
}
.signup a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}
.signup a:hover{
	color: #ffc107;
}
textarea{
	font-family: sans-serif;
	font-size: 15px;
	border-radius: 10px;
	border: dashed;
	color: white;
	background-color:#472F91 ;
}