body{
	margin: 50;
	padding: 0;
	background-color: white;
	background-size: contain;
	background-position: center;
	font-family: sans-serif;
}
.payment{
	width: 420px;
	height: 600px;
	background: #472F91;
	opacity: .8;
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding:50px 50px;
}
h1{
	margin: 0;
	padding: 0 0 0px;
	text-align: center;
	font-size: 30px;
}
.payment input{
	width: 100%;
	margin-bottom: 20px;
}
.payment input[type="text"],input[type="password"]{
	border: none;
	border-bottom: 1px solid white;
	background: transparent;
	outline: none;
	height: 30px;
	color: #fff;
	font-size: 16px;
}
.payment input[type="button"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color:#fff;
	font-size: 18px;
	border-radius: 20px;
}
.payment input[type="button"]:hover{
	cursor: pointer;
	background-color: #F57921;
	color: #000;
}
.payment input[type="reset"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color:#fff;
	font-size: 18px;
	border-radius: 20px;
}
.payment input[type="reset"]:hover{
	cursor: pointer;
	background-color: #F57921;
	color: #000;
}
.payment select{
	border: none;
}
.payment select option{
	background-color: black;
	opacity: 0.8;
	color: white;
}
